.git
.gitignore
.DS_Store

**/node_modules
**/dist
**/.vite
**/.next

**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.venv

services/backend/build
services/backend/dist

npm-debug.log*
yarn-error.log*
pnpm-debug.log*